/* google font import */
/* https://fonts.google.com/share?selection.family=Noto%20Sans:ital,wght@0,400;0,700;1,400;1,700%7COswald:wght@200;300;400;500;600;700%7CRed%20Hat%20Text:wght@400;500 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Red+Hat+Text:wght@400;500&display=swap');

/* ===================== Global Styling =================== */

/* user font families */
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Red Hat Text', sans-serif;
*/


body{
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
}

b{
    color: #000;
}

a.btn, button{
    font-family: 'Red Hat Text', sans-serif;
    box-shadow: none !important;
}

.btn-golden-outline{
    font-size: 18px;
    text-transform: uppercase;
    padding: 24px 28px;
    border: 2px solid #CC9F5F;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    transition: .2s;
}

.btn-golden-outline:hover{
    background-color: #CC9F5F;
    color: #fff;
}

.text-golden{
    color: #CC9F5F;
}

.section_title {
    font-size: 80px;
    color: #000;
    padding-top: 16px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 110%;
}

.section_title::before{
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 5px;
    background-color: #CC9F5F;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 50px;
    height: 5px;
    background-color: #C6C6C6;
    margin: 0 5px;
    opacity: 1;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background-color: #CC9F5F !important;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===========XX========== Global Styling end ===========XX======== */

nav {
    padding: 19px 60px 0;
    height: 77px;
    background: transparent;
    /* position: absolute !important; */
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
}

nav .nav-link{
    font-size: 16px;
    color: #fff;
    margin-left: 35px;
    text-transform: uppercase;
}

nav .nav-link:hover,
nav .nav-link.active{
    color: #CC9F5F;
}

.header_section {
    width: 100%;
    height: 1080px;
    background-image: url(../img/banner_img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_section .content{
    margin-top: 80px;
}

.header_section .content .hero_title{
    font-size: 100px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 48px;
    text-transform: uppercase;
	text-shadow:3px 2px 2px rgba(0, 0, 0,0.5);
}

.header_section .arrow_down{
    margin-top: 45px;
}

.header_section .down_btn{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #CC9F5F;
    color: #CC9F5F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
}

.section_2{
    padding: 120px 0 130px;
}

.section_2 .text-content{
    width: 392px;
    margin-top: 30px;
}

.section_2 .text-content .title{
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 46px;
    line-height: 80px;
    text-transform: uppercase;
}

.section_2 .text-content .paragraph{
    width: 350px;
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 20px;
}


.section_2 .frame_img_content{
    /* height: 660px; */
    padding-bottom: 20px;
    max-width: 537px;
    position: relative;
    border: 2px solid #CC9F5F;
}

/* .section_2 .frame_img_content .frame{
    position: absolute;
    width: 549px;
    height: 656px;
    border: 2px solid #CC9F5F;
    right: 114px;
    top: 29px;
} */

.section_2 .frame_img_content img.person{
    margin-top: -20px;
    margin-left: 20px;
    width: 100%;
}

.section_2 .frame_img_content img.img_badge{
    position: absolute;
    z-index: 1;
    bottom: -60px;
    right: 10px;
}

.section_3 {
    padding: 100px 0 132px;
    background-image: url(../img/lady-justice.png);
    background-size: cover;
    position: relative;
}

.section_3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/dark_overlay.png);
}

.section_3 .text-content {
    position: relative;
    z-index: 22;
}

.section_3 .text-content img.logo{
    width: 496px;
}

.section_3 .title{
    margin-top: 24px;
    font-size: 110px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
}

.section_3 .associated_with{
    margin-top: 64px;
    position: relative;
    z-index: 22;
    max-width: 488px;
    border: 2px solid #B18558;
    padding: 33px 38px 43px;
}

.section_3 .associated_with .box-title{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 8px;
}

.section_3 .associated_with .logo{
    margin-top: 28px;
}

.section_4 {
    padding:110px 0 50px;
}

.section_4 .section_title{
    margin-bottom: 22px;
}

.section_4 .brand{
    width: 100%;
    height: 119px;
    background-color: #EAEBE6;
    /* margin: 49px 17.5px 0; */
    margin-top: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_focus {
    margin-top: 100px;
}

.our_focus .content{
    margin-top: 52px;
}

.our_focus .section_title::before{
    left: 30px;
}

.our_focus .text_box {
    margin-bottom: 40px;
    margin-left: auto;
}

.our_focus .text_box .heading{
    text-align: end;
    font-size: 25px;
    font-weight: bold;
    margin-right: 53px;
    color: #000;
}

.our_focus .text_box .para{
    color: #777777;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 21px;
    border-bottom: 2px solid #CC9F5F;
}

.section_5 {
    height: 750px;
    background-image: url(../img/section_5_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.section_5 .nums{
    font-size: 200px;
    font-weight: 500;
    margin-left: 40px;
}

.section_5 .caption{
    font-size: 40px;
    line-height: 110%;
    color: #fff;
}

.section_5 .text-content{
    margin-bottom: 71px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.section_6{
    padding:110px 0 20px;
}

.section_6 .section_title{
    margin-bottom: 55px;
}

.section_6 .section_title::before{
    left: 30px;
}

.section_6 .right_content{
    margin-top: 160px;
}

.success_story_blog {
    max-width: 540px;
    margin-bottom: 76px;
}

.success_story_blog .title{
    margin: 30px 0 20px;
    font-size: 25px;
    font-weight: 500;
    color: #000;
    line-height: 120%;
}

.success_story_blog .des{
    color: #777777;
    font-weight: 400;
    line-height: 130%;
}

.right_content .success_story_blog{
    margin-left: auto;
}

.success_story_blog .link{
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #CC9F5F !important;
    text-decoration: none;
}

.success_story_blog .img{
    border: 2px solid #CC9F5F;
    width: 100%;
    padding-bottom: 20px;
}

.success_story_blog .img img{
    width: 100%;
    margin-top: -20px;
    margin-left: 17px;
}

.section_7 {
    height: 760px;
    background-image: url(../img/section_7_bg.png);
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
}

.section_7 .video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 800px;
    z-index: 999999;
    /* height: 400px; */
    max-width: 98%;
    margin: 0 auto;
    display: none;
}

.section_7 .video.active{
    display: block;
}

.section_7 .video .close_video{
    font-size: 22px;
    color: #000;
    margin-right: 18px !important;
}

.section_7 .video .close_video:hover i{
    transition: .2s;
}

.section_7 .video .close_video:hover i{
    transform: scale(1.1);
}

.section_7 .video iframe{
    margin-bottom: -10px;
}

.section_7 .text-content{
    max-width: 1113px;
}

.section_7 .title{
    font-size: 80px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 31px;
}

.section_7 .btn{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.section_7 .btn .icon_outline{
    width: 98px;
    height: 98px;
    display: inline-block;
    border-radius: 50%;
    padding: 9px;
    border: 2px solid rgba(204, 159, 95, 30%);
    margin-right: 19px;
    transition: .2s;
}

.section_7 .btn .icon_outline:hover{
    transform: scale(1.1);
}

.section_7 .btn .icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #CC9F5F;
}

.section_7 .btn .icon i {
	font-size: 15px;
	margin-left: 8px;
}

.section_8 {
    padding: 110px 0;
}

.section_8 .swiper{
    margin-top: 66px;
}

.section_8 .swiper-slide{
    width: 554px;
    height: 418px;
    text-align: left;
    font-size: 16px;
    width: 535px !important;
    height: 370px;
    border: 1px solid #B18558;
}

.section_8 .client_feedback {
    margin-top: -20px;
    margin-left: 20px;
    padding: 65px;
    background-color: #EAEBE6;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_8 .client_feedback .quote{
    display: block;
    margin-bottom: 13px;
}

.section_8 .client_feedback .txt{
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #777777;
    margin-left: 23px;
    text-transform: capitalize;
    margin-bottom: 26px;
}

.section_8 .client_feedback .client_info{
    font-family: 'Red Hat Text', sans-serif;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #CC9F5F;
    text-transform: capitalize;
    margin-left: 23px;
}

.section_8 .swiper-pagination{
    margin-bottom: -15px;
}

.section_9{
    height: 925px;
    background-image: url(../img/section_9_bg.png);
    background-size: cover;
}

.section_9 .title{
    max-width: 818px;
    font-size: 120px;
    line-height: 110%;
    font-weight: 500;
    margin-bottom: 49px;
}

.section_9 a.btn-outline{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 24px 51px;
    text-transform: uppercase;
    border: 2px solid #CC9F5F;
    border-radius: 5px;
    transition: .2s;
}

.section_9 a.btn-outline:hover{
    background-color: #CC9F5F;
}



/* contact us page styling start form here */
.contact_header{
    height: 400px;
    background-image: url(../img/contact_banner.png);
    background-size: cover;
}
.contact_header .hero_title{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.contact_us_main{
    padding: 100px 0;
}
.contact_us_main .text-content{
    width: 498px;
    max-width: 100%;
}
.contact_us_main .title{
    font-size: 50px;
    color: #000;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.contact_us_main .para{
    font-weight: 400;
    color: #777777;
    margin-bottom: 16px;
}
.contact_us_main .form{
    max-width: 100%;
    width: 560px;
    height: 918px;
    border: 2px solid #CC9F5F;
}
.contact_us_main .form form{
    margin-top: -20px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #EAEBE6;
}
.contact_us_main .form form *{
    box-shadow: none;
}
.contact_us_main .form form .section_title{
    font-size: 40px;
    margin-bottom: 56px;
}
.contact_us_main form .form-control{
    box-shadow: none;
    outline: none;
    border: 2px solid #CC9F5F;
    padding: 8px 20px;
    font-size: 16px;
}
.contact_us_main form input.form-control:not(input[type="radio"]){
    height: 57px;
    margin: 0px 12px 20px;
    background-color: transparent;
}
.contact_us_main form textarea.form-control{
    height: 113px;
    background-color: transparent;
    margin-bottom: 26px;
}
.contact_us_main form .option{
    padding-bottom: 17px;
    margin-bottom: 18px;
    border-bottom: 1px solid #D7D7D7;
}
.contact_us_main form .txt{
    font-size: 16px;
    color: #000;
}
.contact_us_main .form-check-input:checked{
    background-color: transparent;
    border: 1px solid #6B6B6B;
    cursor: pointer;
}
.form-check-input:checked[type=radio]{
    background-color: #CC9F5F;
    color: #000;
}
.contact_us_main form a.btn{
    background-color: #CC9F5F;
    padding: 24px;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}
/* contact us page styling end here */

/* success story page styling start from here */
.blog_header{
    height: 400px;
    background-image: url(../img/contact_banner.png);
    background-size: cover;
}
.blog_header .hero_title{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.blog_main {
    padding: 75px 0 95px;
}
.blog_main .posted_date{
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}
.blog_main .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}
.blog_main .row{
    margin-bottom: 42px;
}
.blog_main .blog_img{
    width: 469px;
    height: 335px;
    border: 1px solid #B18558;
    max-width: 95%;
    margin-right: 60px;
    padding-bottom: 20px;
}
.blog_main .blog_img img{
    margin-top: -20px;
    margin-left: 20px;
    width: 100%;
}
.blog_main .para{
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 18px;
}
.blog_main .text-content{
    margin-top: -20px;
}
.blog_main .blog_info{
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}
.blog_main .related_stories {
    margin-top: 75px;
}
.blog_main .related_stories .section_title{
    margin-bottom: 85px;
}
/* success story page styling end here */






footer{
    margin-top: -2px;
    padding: 70px 0;
    background-color: #181715;
}

footer .social_link{
    width: 35px;
    height: 35px;
    background-color: #CC9F5F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 22px;
    text-decoration: none;
    margin: 27px 4px;
}

footer .left_content .para{
    font-size: 16px;
    font-weight: 400;
    color: #c4c4c4;
    line-height: 120%;
    margin-bottom: 30px;
}

footer .left_content .note{
    font-size: 12px;
    color: #6b6a6a;
    font-weight: 400;
}

footer .left_content .note a{
    color: #6b6a6a;
    text-decoration: none;
}

footer .right_content .info .txt{
    display: inline-block;
    color: #777777;
    padding-bottom: 1px;
    margin: 0 0 10px;
}

footer .right_content .info .txt .num{
    border-bottom: 2px solid #CC9F5F;
}

footer .right_content .info .txt i{
    color: #CC9F5F;
    font-size: 18px;
    margin-left: 15px;
}
