

/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/ 

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1170px;
}
}
 
@media (max-width: 1600px) {

    nav .nav-link {
        font-size: 15px;
        margin-left: 15px;
    }
	.section_4 {padding: 90px 0 50px;}
	.section_6 {padding: 100px 0 20px;}
	.section_8 {padding: 90px 0;}
	.our_focus {margin-top: 80px;}
	.section_9 {height: 870px;}
	.section_9 .title {font-size: 100px;}
	.section_3 .associated_with {margin-top: 40px;}
	
}

 
@media (max-width: 1440px) {

    .header_section .content .hero_title {
        font-size: 89px;
        margin-bottom: 37px;
        line-height: 110%;
    }

    .btn-golden-outline {
        font-size: 17px;
        padding: 19px 19px;
    }

    nav {
        padding: 19px 30px 0;
    }

    .section_3 .title{
        font-size: 90px;
    }

    .section_3 .associated_with .logo img{
        width: 100px;
    }

    .section_3 .associated_with{
        max-width: 457px;
    }

    .section_3 .text-content img.logo{
        max-width: 390px;
    }

    .section_title {
        font-size: 60px;
        padding-top: 10px;
    }
.section_3 .associated_with .box-title {
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 8px;
}
 .section_3 .associated_with .box-title {font-size: 25px;} 
.section_3 .associated_with {margin-top: 25px;}
.section_3 {padding: 100px 0 110px;}
.section_5 {height: 670px;	}
 .section_5 .nums {font-size: 170px;}
 .section_5 .caption {font-size: 35px;}
 .section_9 {height: 840px;}
 .section_9 .title {font-size: 100px;}
.section_7 {height: 700px;}	
.section_2 .text-content {margin-top: 20px;}
.section_2 {padding: 120px 0 155px;}







}


@media (min-width: 1280px) and (max-width: 1366px) {

    .section_2 .frame_img_content img.img_badge{
        width: 130px;
        bottom: -40px;
    }

    .success_story_blog {
        max-width: 500px;
        margin-bottom: 76px;
    }

    .success_story_blog .title {
        margin: 14px 0 16px;
        font-size: 24px;
    }

    .section_8 .swiper-slide{
        width: 46% !important;
    }
    .header_section{
        height: 715px;
    }

    .section_3 {
        padding: 70px 0 90px;
    }

    .section_5 {
        height: 565px;
    }

    .section_7 {
        height: 600px;
    }

    .section_9 {
        height: 645px;
    }

    .section_9 .title {
        max-width: 780px;
        font-size: 90px;
        margin-bottom: 40px;
    }

    .section_9 a.btn-outline {
        font-size: 17px;
        padding: 13px 40px;
    }
	.section_2 .frame_img_content {max-width: 500px;}
	.section_2 .text-content .title {margin-bottom: 35px;}
	.section_2 .text-content {margin-top: 15px;}
	.section_2 {padding: 120px 0 130px;}
	
}



@media (max-width: 1199.98px) {

    .header_section{
        height: 935px;
    }

    .header_section .content .hero_title {
        font-size: 72px;
        margin-bottom: 27px;
    }

    .btn-golden-outline {
        font-size: 15px;
        padding: 14px 11px;
    }

    .section_2 .frame_img_content .frame {
        right: -56px !important;
    }

    .section_4 .brand {  
        width: 154px;
        height: 75px;

    }

    .section_4 .brand img{
        width: 100px;
    }

    .section_5 .nums {
        font-size: 127px;
    }

    .section_5 {
        height: 454px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        width: 34px;
        height: 3px;
    }

    .section_5 .caption {
        font-size: 32px;
    }

    .contact_us_main .title{
        font-size: 35px;
    }
    

	

}


@media (min-width: 992px) and (max-width: 1199.98px) {

    .contact_us_main .form form{
        padding: 20px;
    }


}


@media (max-width: 991.98px) { 

	.header_section .content .hero_title {
        font-size: 53px;
        margin-bottom: 26px;
    }

    .header_section {
        height: 738px;
    }

    .frame_img_content {
        margin-top: 30px;
    }

    .order-md-1{
        order: 1;
    }

    .order-md-2{
        order: 2;
    }

    .section_2 .text-content .title{
        font-size: 65px;
        line-height: 110%;
    }

    .section_2  {
        padding-top: 0;
    }

    .section_2 .frame_img_content{
        padding-bottom: 10px;
    }

    .section_2 .frame_img_content img.person {
        margin-top: -10px;
        margin-left: 10px;
    }

    .section_3 .title {
        font-size: 68px;
    }

    .section_3 .text-content img.logo {
        max-width: 299px;
    }

    .section_3 .associated_with {
        max-width: 423px;
        padding: 21px 29px 24px;
    }

    .section_7 .title {
        font-size: 61px;
    }

    .section_8 .swiper-slide{
        width: 96% !important;
    }

    .blog_main .text-content {
        margin-top: 27px;
    }

    .blog_main .blog_img {
        height: auto;
    }

    .sm-header .hero_title{
        font-size: 50px;
    }

    .sm-header{
        height: auto;
        padding: 120px 0 80px;
    }


	
}


@media (min-width: 768px) and (max-width: 991.98px) {


}


@media (max-width: 767.98px) {

    .header_section {
        height: 585px;
    }

    .header_section .content .hero_title {
        font-size: 41px;
        margin-bottom: 21px;
    }

    .btn-golden-outline {
        font-size: 12px;
        padding: 13px 9px;
    }

    .header_section .down_btn {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .navbar-brand img{
        width: 279px;
    }

    .section_4 .brand {  
        width: 154px;
        height: 75px;

    }

    .section_4 .brand img{
        width: 100px;
    }

    .our_focus .text_box .para {
        line-height: 20px;
        font-size: 14px;
        padding-bottom: 11px;
    }

    .our_focus .text_box .heading {
        font-size: 18px;
        margin-right: 18px;
    }

    .our_focus .text_box{
        flex-direction: column;
    }

    .our_focus .text_box .heading{
        text-align: left;
    }

    .section_4 {
        padding-bottom: 30px;
    }

    .our_focus{
        margin-top: 28px;
    }

    .section_5 .nums {
        font-size: 73px;
    }

    .section_5 .caption {
        font-size: 21px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 30px;
    }

    .section_5 {
        height: 284px;
    }

    .success_story_blog {
        margin-left: auto;
        margin-right: auto;
    }

    .section_6 .right_content{
        margin-top: 0;
    }

    .section_8 .client_feedback{
        padding: 33px;
    }

    .section_9 .title{
        font-size: 60px;
        margin-bottom: 20px;
    }

    .section_9 {
        height: 453px;
    }

    footer{
        padding: 60px 0;
    }

    footer .right_content{
        margin-top: 40px;
        text-align: left !important;
    }

    footer .logo > img{
        width: 300px;
    }

    .blog_main .title {
        font-size: 34px;
    }

    .contact_us_main .form{
        margin-top: 50px;
    }

    .contact_us_main .form{
        max-width: 95%;
        height: auto;
        padding-bottom: 20px;
    }

    .contact_us_main .title {
        font-size: 25px;
    }

    .contact_us_main {
        padding: 60px 0;
    }

    .contact_us_main .para{
        font-size: 15px;
    }

    .contact_us_main .form form{
        padding: 20px;
    }

    .contact_us_main form .form-control{
        font-size: 14px;
    }

    .contact_us_main form input.form-control:not(input[type="radio"]) {
        height: 44px;
        margin: 0px 9px 13px;
        background-color: transparent;
    }

    .contact_us_main .form form .section_title{
        margin-bottom: 29px;
    }

    .contact_us_main form a.btn {
        padding: 13px;
        font-size: 16px;
    }

    .contact_us_main form .option p,
    .contact_us_main form .option label{
        font-size: 15px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {


}

@media (max-width: 575.98px) {

    nav {
        padding: 19px 0px 0;
    }

    .header_section .content .hero_title {
        font-size: 31px;
        margin-bottom: 14px;
    }

    .btn-golden-outline {
        font-size: 11px;
        padding: 10px 5px;
    }

    .header_section {
        height: 432px;
    }

    .section_title {
        font-size: 33px;
        padding-top: 8px;
        margin-bottom: -9px;
    }

    .section_7 .title {
        font-size: 41px;
    }

    .section_7 .btn .icon_outline {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        padding: 5px;
    }

    .section_7 .btn {
        font-size: 13px;
    }

    .section_7{
        height: auto;
        padding: 40px 0;
    }

    .section_7 .btn .icon i {
        font-size: 9px;
    }

    .section_8  {
        padding: 80px 0;
    }

    .navbar-brand img {
        width: 200px;
    }

    .blog_main .title {
        font-size: 25px;
        margin-bottom: 46px;
    }

    .sm-header .hero_title {
        font-size: 30px;
    }


}

@media (max-width: 400px) {

    .section_9 .title {
        font-size: 39px;
        margin-bottom: 15px;
    }

    .section_9 a.btn-outline {
        font-size: 14px;
        padding: 10px 24px;
    }

    .section_9 {
        height: auto;
        padding: 40px 0;
    }

	
}


/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991.98px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (                min-resolution: 192dpi) and (max-width: 991.98px),
only screen and (                min-resolution: 2dppx) and (max-width: 991.98px) {
	
}

